<h1>Welcome to the Cooper Hewitt Collection Searcher!</h1>
<h3>Please enter a request by media</h3>
<%= form_tag("/search", method: "post") do %>
  <%= label_tag(:q, "") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>